felipe-amorim-de-araujo/projeto-3/solutions/solution-b/workflow.json
{
  "name": "IssueTriageBot - Solution B (Few-Shot KB)",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "b2c3d4e5-0002-4000-8000-000000000099",
      "parameters": {
        "path": "github-issues",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Only process 'opened' events\n// GitHub payload arrives nested under .body in n8n webhook node\nconst payload = $input.first().json.body;\nconst action = payload.action;\nif (action && action !== 'opened') {\n  return [];\n}\n\nconst issue = payload.issue || {};\nconst repo = payload.repository || {};\n\nconst title = (issue.title || '').trim();\nconst body = issue.body || '';\nconst labels = (issue.labels || []).map(l => l.name || l).filter(Boolean).join(', ');\nconst repoName = repo.name || '';\nconst issueUrl = issue.html_url || issue.url || '';\nconst issueNumber = issue.number || 0;\n\nif (!title) {\n  return [{\n    json: {\n      issue: { title: '', body: '', labels: '', repoName, issueUrl, issueNumber },\n      prompt: null,\n      gemini_body_str: null,\n      invalid_input: true,\n      meta: { examples_used: 0 }\n    }\n  }];\n}\n\n// ── Knowledge Base (inlined from solutions/solution-b/knowledge-base.json) ──\nconst KNOWLEDGE_BASE = [\n  {\n    issue: { title: 'Authentication service fails in production after deployment', body: 'After the v2.3.1 deployment, the authentication service started returning 401 errors for all users. Users cannot log in. The service was working fine before the deployment. Logs show NullPointerException in AuthService.java:142. Rollback attempted but did not resolve the issue.', labels: ['bug', 'critical', 'backend'] },\n    classification: { type: 'bug', severity: 'critical', component: 'backend', summary: 'Auth service returning 401 for all users post-deployment', reasoning: 'Production-breaking auth failure affecting all users with no working workaround; NullPointerException in backend service after deployment.' }\n  },\n  {\n    issue: { title: 'Add rate limiting to REST API endpoints', body: 'We need to add rate limiting to our REST API to prevent abuse. Endpoints should be limited to 100 requests per minute per API key. This is needed to protect the service from denial-of-service attacks and ensure fair usage among clients.', labels: ['feature', 'backend', 'security'] },\n    classification: { type: 'feature', severity: 'medium', component: 'backend', summary: 'Implement API rate limiting at 100 req/min per API key', reasoning: 'New functionality request for security hardening; existing features are unaffected, so severity is medium rather than critical.' }\n  },\n  {\n    issue: { title: 'How do I reset my password through the API?', body: 'I am trying to reset my password programmatically via the API but I cannot find any endpoint for this in the documentation. Is there a password reset endpoint? What parameters does it accept? I checked the docs but nothing covers this case.', labels: ['question', 'documentation'] },\n    classification: { type: 'question', severity: 'low', component: 'unknown', summary: 'User asking how to reset password via the API', reasoning: 'Interrogative phrasing, seeking clarification on API usage; no defect reported, component cannot be determined from context.' }\n  },\n  {\n    issue: { title: 'Dashboard charts not rendering on Safari browsers', body: 'The analytics dashboard charts fail to render on Safari 16 and above on macOS. Users on Chrome and Firefox see the charts correctly. The browser console shows a TypeError related to the chart library canvas API usage. Approximately 25% of our user base uses Safari, so this is impacting a significant portion of users.', labels: ['bug', 'frontend', 'browser-compatibility'] },\n    classification: { type: 'bug', severity: 'medium', component: 'frontend', summary: 'Charts fail to render on Safari due to canvas API TypeError', reasoning: 'Significant functionality impaired for Safari users (~25%); workaround exists (use Chrome or Firefox), so severity is medium.' }\n  },\n  {\n    issue: { title: 'Add dark mode support to the settings page', body: 'Users have been requesting dark mode for some time. The settings page should have a toggle to switch between light and dark themes. The theme preference should be persisted in localStorage so it survives page refreshes.', labels: ['feature', 'frontend', 'ux'] },\n    classification: { type: 'feature', severity: 'low', component: 'frontend', summary: 'Add dark mode toggle with localStorage persistence to settings page', reasoning: 'Nice-to-have UI enhancement; no existing functionality broken, making it a low-severity feature request.' }\n  },\n  {\n    issue: { title: 'Button tooltip shows incorrect text on hover', body: 'The Save button in the user profile form shows Delete as its tooltip text when hovering. This appears to be a copy-paste error in the HTML template. The button itself works correctly and saves data as expected, so only the tooltip label is wrong.', labels: ['bug', 'frontend'] },\n    classification: { type: 'bug', severity: 'low', component: 'frontend', summary: 'Save button displays incorrect Delete tooltip text due to copy-paste error', reasoning: 'Cosmetic bug with no functional impact; button operates correctly, minor UI inconsistency.' }\n  },\n  {\n    issue: { title: 'What format does the API return dates in?', body: 'I am building an integration with the API and noticed that some endpoints return dates as Unix timestamps while others return ISO 8601 strings. Is there a documented standard format across all endpoints? Should I expect this to be consistent, or do I need to handle both formats in my client?', labels: ['question', 'api'] },\n    classification: { type: 'question', severity: 'low', component: 'backend', summary: 'User asking about date format inconsistency across API endpoints', reasoning: 'Question about API behavior; no defect reported, user is seeking clarification on integration specifics.' }\n  }\n];\n\n// ── Example selection helpers ──\nconst STOP_WORDS = new Set([\n  'the', 'is', 'a', 'an', 'on', 'in', 'to', 'of', 'and', 'or',\n  'for', 'with', 'when', 'this', 'that', 'it', 'my', 'i', 'be',\n  'but', 'not'\n]);\nconst LABEL_WEIGHT = 3;\nconst TITLE_WEIGHT = 2;\nconst BODY_WEIGHT = 1;\nconst EXAMPLE_BODY_MAX_CHARS = 300;\n\nfunction tokenizeText(text) {\n  if (!text || typeof text !== 'string') return new Set();\n  const tokens = text.toLowerCase().match(/[a-z0-9]+/g) || [];\n  return new Set(tokens.filter(t => t.length >= 2 && !STOP_WORDS.has(t)));\n}\n\nfunction normLabels(labelsArr) {\n  if (!Array.isArray(labelsArr)) return [];\n  return labelsArr.map(l => {\n    const raw = typeof l === 'string' ? l : (l && l.name) || '';\n    return raw.toLowerCase();\n  }).filter(Boolean);\n}\n\nfunction intersectSize(setA, setB) {\n  let count = 0;\n  for (const item of setA) { if (setB.has(item)) count++; }\n  return count;\n}\n\nfunction selectExamples(issueObj, kb, k) {\n  if (!Array.isArray(kb) || kb.length === 0 || k === 0) return [];\n  const issueLabels = new Set(normLabels(issueObj.labels));\n  const issueTitleTokens = tokenizeText(issueObj.title);\n  const issueBodyTokens = tokenizeText(issueObj.body);\n  const scored = kb.map((entry, idx) => {\n    const exLabels = new Set(normLabels(entry.issue.labels));\n    const exTitle = tokenizeText(entry.issue.title);\n    const exBody = tokenizeText(entry.issue.body);\n    const score = LABEL_WEIGHT * intersectSize(issueLabels, exLabels)\n                + TITLE_WEIGHT * intersectSize(issueTitleTokens, exTitle)\n                + BODY_WEIGHT  * intersectSize(issueBodyTokens, exBody);\n    return { entry, idx, score };\n  });\n  scored.sort((a, b) => b.score - a.score || a.idx - b.idx);\n  if (scored[0].score === 0) return kb.slice(0, k);\n  return scored.slice(0, k).map(s => s.entry);\n}\n\nfunction truncateBody(text) {\n  if (!text || text.length <= EXAMPLE_BODY_MAX_CHARS) return text || '';\n  return text.slice(0, EXAMPLE_BODY_MAX_CHARS) + '\\u2026';\n}\n\n// ── Select relevant examples and build prompt ──\nconst issueForScoring = {\n  title: title,\n  body: body,\n  labels: issue.labels || []\n};\nconst selected = selectExamples(issueForScoring, KNOWLEDGE_BASE, 3);\n\nconst examplesBlock = selected.length > 0\n  ? '\\n\\nExamples of correctly classified issues:\\n\\n' +\n    selected.map((ex, i) => {\n      const exTitle = (ex.issue && ex.issue.title) || '(no title)';\n      const exBody = truncateBody((ex.issue && ex.issue.body) || '');\n      const exLabels = Array.isArray(ex.issue && ex.issue.labels)\n        ? ex.issue.labels.map(l => (typeof l === 'string' ? l : l.name || '')).join(', ')\n        : '';\n      const cl = ex.classification;\n      return `Example ${i + 1}:\\nIssue Title: ${exTitle}\\nIssue Body: ${exBody || '(no body provided)'}\\nLabels: ${exLabels || '(none)'}\\nClassification:\\n${JSON.stringify({ type: cl.type, severity: cl.severity, component: cl.component, summary: cl.summary, reasoning: cl.reasoning }, null, 2)}`;\n    }).join('\\n\\n')\n  : '';\n\nconst prompt = `You are an issue classifier for a software project. Analyze the GitHub issue below and return a JSON classification.\n\nReturn ONLY a valid JSON object with this exact structure:\n{\n  \"type\": \"bug | feature | question\",\n  \"severity\": \"critical | medium | low\",\n  \"component\": \"frontend | backend | infra | unknown\",\n  \"confidence\": <float between 0.0 and 1.0>,\n  \"low_confidence\": <boolean, true if confidence < 0.7>,\n  \"summary\": \"<one-line summary of the issue>\",\n  \"reasoning\": \"<brief explanation of the classification>\"\n}\n\nClassification rules:\n- type=bug: reports something broken or not working as expected\n- type=feature: requests new functionality or enhancement\n- type=question: asks how something works or seeks clarification\n- severity=critical: production-breaking, data loss, security vulnerability, auth failure in production\n- severity=medium: significant functionality impaired but a workaround exists\n- severity=low: minor issue, cosmetic problem, or nice-to-have improvement\n- component=frontend: UI, CSS, JavaScript, browser-side behavior\n- component=backend: API, database, server-side logic, authentication\n- component=infra: deployment, CI/CD, Docker, cloud services, networking\n- component=unknown: cannot determine from available context${examplesBlock}\n\nNow classify this issue:\n\nIssue Title: ${title}\nIssue Body: ${body || '(no body provided)'}\nLabels: ${labels || '(none)'}\nRepository: ${repoName || '(unknown)'}\n\nReturn ONLY the JSON object. No markdown code blocks, no prose outside the JSON.`;\n\nconst geminiBodyStr = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.1, maxOutputTokens: 512 }\n});\n\nreturn [{\n  json: {\n    issue: { title, body, labels, repoName, issueUrl, issueNumber },\n    prompt,\n    gemini_body_str: geminiBodyStr,\n    invalid_input: false,\n    meta: { examples_used: selected.length }\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gemini_body_str }}",
        "options": {
          "timeout": 25000
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nconst issueData = $('Build Prompt').first().json;\nconst issue = issueData.issue;\n\n// Extract text from Gemini response\nconst candidates = (prevData.candidates || []);\nconst responseText = candidates[0]?.content?.parts?.[0]?.text || '';\n\n// Parse and validate JSON\nconst VALID_TYPES = ['bug', 'feature', 'question'];\nconst VALID_SEVERITIES = ['critical', 'medium', 'low'];\nconst VALID_COMPONENTS = ['frontend', 'backend', 'infra', 'unknown'];\n\nlet jsonText = responseText.trim();\nconst codeBlockMatch = jsonText.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (codeBlockMatch) jsonText = codeBlockMatch[1].trim();\n\nlet classification;\ntry {\n  const parsed = JSON.parse(jsonText);\n  const type = VALID_TYPES.includes(parsed.type) ? parsed.type : 'unknown';\n  const severity = VALID_SEVERITIES.includes(parsed.severity) ? parsed.severity : 'unknown';\n  const component = VALID_COMPONENTS.includes(parsed.component) ? parsed.component : 'unknown';\n  const confidence = typeof parsed.confidence === 'number'\n    ? Math.min(1.0, Math.max(0.0, parsed.confidence))\n    : 0.0;\n  classification = {\n    type, severity, component, confidence,\n    low_confidence: confidence < 0.7,\n    summary: typeof parsed.summary === 'string' ? parsed.summary : '',\n    reasoning: typeof parsed.reasoning === 'string' ? parsed.reasoning : ''\n  };\n} catch (err) {\n  classification = {\n    type: 'unknown', severity: 'unknown', component: 'unknown',\n    confidence: 0.0, low_confidence: true,\n    summary: 'Failed to parse AI response',\n    reasoning: `JSON parse error: ${err.message}`,\n    parse_error: true\n  };\n}\n\n// Determine Slack channel (without # for Slack API)\nlet slackChannel;\nif (classification.type === 'question') {\n  slackChannel = 'questions';\n} else if (classification.type === 'bug' && classification.severity === 'critical') {\n  slackChannel = 'incidents';\n} else {\n  slackChannel = 'backlog';\n}\n\n// Format Slack blocks\nconst severityEmoji = { critical: '🔴', medium: '🟡', low: '🟢', unknown: '⚪' };\nconst typeLabel = { bug: 'Bug', feature: 'Feature Request', question: 'Question', unknown: 'Unknown' };\nconst emoji = severityEmoji[classification.severity] || '⚪';\nconst typeStr = typeLabel[classification.type] || classification.type;\nconst confidenceNote = classification.low_confidence\n  ? '\\n⚠️ _Low confidence — manual review recommended_' : '';\n\nconst slackBodyStr = JSON.stringify({\n  channel: slackChannel,\n  text: `${emoji} [${typeStr}] ${issue.title}`,\n  blocks: [\n    {\n      type: 'section',\n      text: { type: 'mrkdwn', text: `${emoji} *[${typeStr}]* <${issue.issueUrl}|${issue.title}>` }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Type:* ${classification.type}` },\n        { type: 'mrkdwn', text: `*Severity:* ${classification.severity}` },\n        { type: 'mrkdwn', text: `*Component:* ${classification.component}` },\n        { type: 'mrkdwn', text: `*Confidence:* ${(classification.confidence * 100).toFixed(0)}%` }\n      ]\n    },\n    {\n      type: 'section',\n      text: { type: 'mrkdwn', text: `*Summary:* ${classification.summary}${confidenceNote}` }\n    }\n  ]\n});\n\n// Format Sheets row\nconst processedAt = new Date().toISOString();\nconst sheetsRow = {\n  timestamp: processedAt,\n  issue_number: issue.issueNumber,\n  title: issue.title,\n  url: issue.issueUrl,\n  type: classification.type,\n  severity: classification.severity,\n  component: classification.component,\n  confidence: `${(classification.confidence * 100).toFixed(0)}%`,\n  low_confidence: classification.low_confidence,\n  ai_flagged: false,\n  summary: classification.summary,\n  reasoning: classification.reasoning\n};\n\nreturn [{ json: { issue, classification, slack_channel: slackChannel, slack_body_str: slackBodyStr, sheets_row: sheetsRow } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SLACK_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.slack_body_str }}",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000006",
      "name": "Prepare Sheets Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const row = $input.first().json.sheets_row;\nreturn [{ json: row }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-4000-8000-000000000007",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1560, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets OAuth"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Prompt": {
      "main": [
        [{ "node": "Call Gemini API", "type": "main", "index": 0 }]
      ]
    },
    "Call Gemini API": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [
          { "node": "Send to Slack", "type": "main", "index": 0 },
          { "node": "Prepare Sheets Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Sheets Row": {
      "main": [
        [{ "node": "Log to Sheets", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
